.display{
    height: 50%;
    width: 100%;
    background-color: antiquewhite; 
}

body{
    height: 100vh;
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.display1{
    height: 50%;
    width: 100%;
    background-color: antiquewhite;
   
}
.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#zero{
    width: 65%;
    height: 90%;
    border-radius: 20px;
}

.right{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80px;

}

.except{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button{
    height : 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
}
.buttonsNumber{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first .second .third{
    display: flex;
}

.numbers{  
    height: 60px;
    width: 60px;
}

.bigdisplay{
    height: 40px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.operators{
    margin-bottom: 8px;
    background-color: orange;
    border: none;
    
}

.equal{
    background-color: azure;
}